html {
  height: 100%;
  box-sizing: border-box;
}

body {
  background: #feffff !important;
  font-family: 'Poppins', sans-serif !important;
  color : #daad86 !important;
} /* Adding !important forces the browser to overwrite the default style applied by Bootstrap */
form {
  display: inline-block;
  text-align: center;
}
.mepic {
    width: 300px;
    height: auto;
    border:10px solid #98dafc;
}
footer{
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  background:#312c32 !important;
  color:#feffff !important;
  display:block;
  text-align: center;
}
