* {
  margin: 0;
}
html {
  height: 100%;
  box-sizing: border-box;
}
body {
  background:#feffff !important;
  font-family: 'Poppins', sans-serif !important;
  color : #FF8C00 !important;
  text-align: center;
  height: 95%;
} /* Adding !important forces the browser to overwrite the default style applied by Bootstrap */
form {
  display: inline-block;
  text-align: center;
}
li{
  text-align: center !important;
}
.navbar-default .navbar-toggle .icon-bar {
    background-color: white;
}
.mepic {
    width: 225px;
    height: 225px;
    border:10px solid #98dafc;
}
.pics{
  width: 140px;
  height:140px;
  border:10px solid #98dafc;
}
.flinks{
  padding-left:5px;
  padding-right:5px;
  text-decoration:none;
}
.nav a {
  color:#feffff !important;
}
.jumbotron{
  background: #F5FFFA !important;
}
/* --- Style --- */
.navbar-default {
    background-color: #98dafc;
    border-color: #98dafc;
    max-height: 51px !important;
    z-index: 9999 !important;
}

.spacer{
  height:20px;
}
footer{
  position: relative;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  background:#312c32 !important;
  color:#feffff !important;
  display:block;
  text-align: center;
  height: 100%
}
.page-wrap {
  min-height: 100%;
  /* equal to footer height */
  margin-bottom: -90px;
}
.page-wrap:after {
  content: "";
  display: block;
}
.site-footer, .page-wrap:after {
  height: 90px;
}
/* slide in from the bottom */
@keyframes slideInLeft {
  from    { transform:translateX(-100%); }
  to      { transform: translateX(0); }
}
/* slide in from the right */
@keyframes slideInRight {
    from    { transform:translateX(100%); }
    to      { transform: translateX(0); }
}
/* scale up */
@keyframes scaleUp {
    from    { opacity: 0.3; -webkit-transform: scale(0.8); }
}
.normal-enter.ng-enter{animation: scaleUp 0.25s both ease-in; z-index: 9999; }
.right-enter.ng-enter{animation: slideInRight 0.25s both ease-in; z-index: 9999}
.left-enter.ng-enter{animation: sildeInLeft 0.25s both ease-in; z-index: 9999}
